body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

#nav1 {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-attachment: scroll;
}

#h4 {
    padding-top: 50px;
    z-index: 1;
    color: orange;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    position: relative;
}



.list {
    z-index: 1;
    position: relative;
    color: red;
    font-family: cursive;
    font-size: 25px;
}

.h2, .h1, .h3 {
    border-radius: 20%;
    text-decoration: none;
    text-align: right;
    margin-left: 10px;
    padding-right: 10px;
    border: none;
    position: relative;
}

.h1 {
    z-index: 0;
    padding-right: 5px; /* Adjusted padding */
}

.h1:hover, .h2:hover, .h3:hover {
    background-color: white;
    border-style: solid;
    border-radius: 0px;
}

p {
    color: orange;
    font-size: 26px;
    text-align: center;
    z-index: 1;
    position: relative;
    font-family: sans-serif;
}



.t1 {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 350px;
    position: fixed;
    color: orange;
    text-align: center;
    z-index: 1;
}
.t1 img {
    vertical-align: middle;
  }
  
  .t1 a {
    text-decoration: none;
    color: orange;
  }
td:hover {
    background-color: white;
    border-radius: 2px;
}

@media only screen and (max-width: 768px) {
    .t1 {
        font-size: 16px;
        margin: 10%;
        position: static;
        text-align: center; /* Center text for smaller screens */
        width: auto; /* Adjust width for smaller screens */
        margin-left: 0; /* Remove left margin for smaller screens */
    }

    #nav1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #h4 {
        padding-top: 20px;
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}


